* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    background: #f6fffd;
    padding: 20px;
    text-align: center;
   

}
.wrapper {
    width: 250px;
    height: 350px;
    margin: 60px auto;
    perspective: 600px;
    text-align: left;
}
.rec-prism {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 0.5s ease-in;
}
.face {
    position: absolute;
    width: 250px;
    height: 350px;
    padding: 20px;
    background: rgba(250, 250, 250, 0.96);
    border: 3px solid #07ad90;
    border-radius: 3px;
}
.face .content {
    color: #666;
}
.face .content h2 {
    font-size: 1.2em;
    color: #07ad90;
}
.face .content .field-wrapper {
    margin-top: 30px;
    position: relative;
}
.face .content .field-wrapper label {
    position: absolute;
    pointer-events: none;
    font-size: 0.85em;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    transition: all ease-in 0.25s;
    color: #999;
}
.face .content .field-wrapper input[type="text"], .face .content .field-wrapper input[type="password"], .face .content .field-wrapper input[type="submit"], .face .content .field-wrapper textarea {
    -webkit-appearance: none;
    appearance: none;
}
.face .content .field-wrapper input[type="text"]:focus, .face .content .field-wrapper input[type="password"]:focus, .face .content .field-wrapper input[type="submit"]:focus, .face .content .field-wrapper textarea:focus {
    outline: none;
}
.face .content .field-wrapper input[type="text"], .face .content .field-wrapper input[type="password"], .face .content .field-wrapper textarea {
    width: 100%;
    border: none;
    background: transparent;
    line-height: 2em;
    border-bottom: 1px solid #07ad90;
    color: #666;
}
.face .content .field-wrapper input[type="text"]::-webkit-input-placeholder, .face .content .field-wrapper input[type="password"]::-webkit-input-placeholder, .face .content .field-wrapper textarea::-webkit-input-placeholder {
    opacity: 0;
}
.face .content .field-wrapper input[type="text"]::-moz-placeholder, .face .content .field-wrapper input[type="password"]::-moz-placeholder, .face .content .field-wrapper textarea::-moz-placeholder {
    opacity: 0;
}
.face .content .field-wrapper input[type="text"]:-ms-input-placeholder, .face .content .field-wrapper input[type="password"]:-ms-input-placeholder, .face .content .field-wrapper textarea:-ms-input-placeholder {
    opacity: 0;
}
.face .content .field-wrapper input[type="text"]:-moz-placeholder, .face .content .field-wrapper input[type="password"]:-moz-placeholder, .face .content .field-wrapper textarea:-moz-placeholder {
    opacity: 0;
}
.face .content .field-wrapper input[type="text"]:focus + label, .face .content .field-wrapper input[type="password"]:focus + label, .face .content .field-wrapper textarea:focus + label, .face .content .field-wrapper input[type="text"]:not(:placeholder-shown) + label, .face .content .field-wrapper input[type="password"]:not(:placeholder-shown) + label, .face .content .field-wrapper textarea:not(:placeholder-shown) + label {
    top: -35%;
    color: #42509e;
}
.face .content .field-wrapper input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    background: #07ad90;
    line-height: 2em;
    color: #fff;
    border: 1px solid #07ad90;
    border-radius: 3px;
    padding: 5px;
}
.face .content .field-wrapper input[type="submit"]:hover {
    opacity: 0.9;
}
.face .content .field-wrapper input[type="submit"]:active {
    transform: scale(0.96);
}
.face .content .field-wrapper textarea {
    resize: none;
    line-height: 1em;
}
.face .content .field-wrapper textarea:focus + label, .face .content .field-wrapper textarea:not(:placeholder-shown) + label {
    top: -25%;
}
.face .thank-you-msg {
    position: absolute;
    width: 200px;
    height: 130px;
    text-align: center;
    font-size: 2em;
    color: #07ad90;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.face .thank-you-msg:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 25px;
    border: 10px solid #07ad90;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    -webkit-animation: success ease-in 0.15s forwards;
    animation: success ease-in 0.15s forwards;
    animation-delay: 2.5s;
}
.face-front {
    transform: rotateY(0deg) translateZ(125px);
}
.face-top {
    height: 250px;
    transform: rotateX(90deg) translateZ(125px);
}
.face-back {
    transform: rotateY(180deg) translateZ(125px);
}
.face-right {
    transform: rotateY(90deg) translateZ(125px);
}
.face-left {
    transform: rotateY(-90deg) translateZ(125px);
}
.face-bottom {
    height: 250px;
    transform: rotateX(-90deg) translateZ(225px);
}
.nav {
    margin: 20px 0;
    padding: 0;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
    margin: 0 10px;
    color: #42509e;
    position: relative;
    cursor: pointer;
}
.nav li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    border-bottom: 1px solid #42509e;
    transition: all ease-in 0.25s;
}
.nav li:hover:after {
    width: 100%;
}
.psw, .signup, .singin {
    display: block;
    margin: 20px 0;
    font-size: 0.75em;
    text-align: center;
    color: #42509e;
    cursor: pointer;
}
small {
    font-size: 0.7em;
}
@-webkit-keyframes success {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
   }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
   }
}

/**

*/


*, *:before, *:after {
    box-sizing: border-box;
}
html {
    background-color: #f9774e;
    background-image: linear-gradient(135deg, #f9b94e 0%, #f9774e 100%);
    font-size: 14px;
    font-family: Nunito, arial, sans-serif;
    font-weight: 400;
    min-height: 100%;
}
.app {
    color: #3f3d34;
    box-shadow: 0 0 1rem rgba(63, 61, 52, .6);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 75em;
    padding: 0;
    width: 100%;
}
@media (min-width: 42em) {
    .app {
        margin: 1rem auto;
   }
}
@media (min-width: 75em) {
    .app {
        margin: 2rem auto;
   }
}
a {
    color: #f9774e;
    text-decoration: none;
    transition: color 0.4s;
}
a:hover, a:focus {
    color: #fb9d7f;
}
img {
    height: auto;
    max-width: 100%;
}
.slider {
    line-height: 1em;
    overflow: hidden;
    padding: 6px 0;
}
.slider [type=range] {
    appearance: none;
    background: #f2f2f2;
    height: 8px;
    position: relative;
    width: 100%;
}
.slider [type=range]:focus {
    outline: none;
}
.slider [type=range]::-webkit-slider-thumb {
    appearance: none;
    background-color: #3f3d34;
    border-radius: 99px;
    cursor: pointer;
    height: 20px;
    position: relative;
    transition: transform 0.2s;
    width: 6px;
}
.slider [type=range]::-webkit-slider-thumb:focus, .slider [type=range]::-webkit-slider-thumb:active {
    transform: scale(1.3);
}
.slider [type=range]::-webkit-slider-thumb:after {
    background: #f9774e;
    bottom: 0;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 999px;
}
.slider--volume [type=range]::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid #f9774e;
    width: 20px;
}
.slider--volume [type=range]::-webkit-slider-thumb:after {
    right: 14px;
}
.icon {
    fill: currentcolor;
    height: 100%;
    width: 100%;
}
.icon--inline {
    display: inline-block;
    height: 1em;
    width: 1em;
}
.hideit {
    visibility:hidden;
}

.control {
    cursor: pointer;
    margin: 0;
    padding: 1rem;
    transition: opacity 0.4s, color 0.4s;
}
.control:hover, .control:focus {
    opacity: 0.8;
}
.control:active {
    color: #f9774e;
    transition: none;
}
.control--small {
    
    transform: scale(0.4);
}
.control--dimmed {
    opacity: 0.6;
}
.control--outlined {
    border: 2px solid #f2f2f2;
    border-radius: 100%;
}
.control--active {
    color: #f9774e;
}
.player {
    background: #fff;
    text-align: center;
    width: 100%;
}
@media (min-width: 33em) {
    .player {
        width: 44%;
   }
}
.player__title {
    font-size: 27.3px;
    font-size: 1.95rem;
    line-height: 1em;
    margin: 0 0 13.65px;
    margin: 0 0 0.975rem;
}
.player__sub-title {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0 0 10.5px;
    margin: 0 0 0.75rem;
    color: #7f7c6b;
    font-weight: 400;
}
.player__cover {
    display: block;
    width: 100%;
}
.player__timer {
    background: #ddd8c8;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.player__progress-bar {
    margin-top: -1rem;
}
.player__controls {
    display: flex;
    list-style: none;
    padding: 1rem 2rem;
}
.player__volume {
    display: flex;
    padding: 2rem;
}
.player__volume__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.player__volume__slider {
    width: 100%;
}
.playlist {
    background: #4a473c;
    color: #f2f2f2;
    width: 100%;
}
@media (min-width: 33em) {
    .playlist {
        width: 56%;
   }
}
.playlist__header {
    background: #3f3d34;
    padding: 3rem;
}
.playlist__title {
    font-size: 27.3px;
    font-size: 1.95rem;
    line-height: 1em;
    margin: 0 0 13.65px;
    margin: 0 0 0.975rem;
    margin-top: 0;
}
.playlist__list {
    list-style: none;
    margin: 0;
    padding: 0 3rem;
}
.playlist__track {
    border-bottom: 1px solid #3f3d34;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2rem 0;
}
.playlist__track--active {
    color: #f9774e;
}
.playlist__track__cover {
    height: 3rem;
    width: 3rem;
}
.playlist__track__info {
    margin: 0 2rem;
    width: 100%;
}
.playlist__track__title {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0 0 10.5px;
    margin: 0 0 0.75rem;
}
.hide.hide {
    display: none;
}


#dropArea{
    float:right;
    position: relative;
    right: 190px;
    height: 200px;
    width: 200px;
    line-height: 200px;
    top: 5px;
    margin: 20px;
    padding-top: 20px;
    border-radius: 20px;
    background-color: #ddd8c8;
    font-family: tahoma, arial;
    text-align: center;
  }
  
  .folder{
    padding-left: 30px;
    white-space: nowrap;
    font-size: 10px;
  }

  .container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
  }
  
.draggable {
    padding: 1rem;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }

  /* Arrow */

  #down:before {
      content: url(down-arrow-svgrepo-com.svg);
      float:left;
      width:15px;
      height: 13px;
  }

  #up:before {
      content: url(down-arrow-svgrepo-com.svg);
    float:right;
    width:15px;
    height:13px;
    transform: rotate(180deg);
  }

  #volumeupdo {
      padding-bottom: 10px;

  }

  #volumebtns {
      padding-bottom: 10px;
  }

  #playy {
      float:right;
      position:relative;
     
      
  }

  .btn {
    float:right;
    position:relative;
  
  }
 
  #shufflediv{
      font-size: 1rem;
      height:10px;
      float:left;
      color: greenyellow;
  }

  #timer{
      margin-top: 10px;
      float:center;
        color: blue;
  }

  #addButton button {
        display: block;
        background: #FFD700;
        padding: 10px;
        color: #DC143C;
        border-radius: 12px;
    }


